<span
  class="board"
  [ngStyle]="{'grid-template-columns': 'repeat(' + sizeX + ', minmax(50px, 1fr))',
              'grid-template-rows': 'repeat(' + sizeY + ', minmax(50px, 1fr))'}"
>
  <span *ngFor="let cell of cellsService.cells; index as i">
      <app-cell [cellIndex]="i" [cellState]="cell" (placeStone)="handlePlaceStone($event)"></app-cell>
  </span>
</span>

<div *ngIf="winningPlayer" class="overlay">
  <div class="overlay-backdrop"> </div>
  <div class="overlay-content">
    <h2>{{winningPlayer.peerId}} won the game!</h2>
    <button (click)="initGame()">Play again</button>
  </div>
</div>
